h1 {
    text-align: center;
    margin-bottom: 1.5em;
}

#cd-player-box { 
    width: 500px;
    height: 500px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#cd {
    width: 350px;
    height: 350px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 55%;
    left: 16.9%;
    transform: translate(-50%, -50%);
}

#center-hole {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 100%;
    position: absolute;
    top: 55%;
    left: 16.9%;
    transform: translate(-50%, -50%);
}
